<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuffy head robot</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/jquery.flot.js"></script>
    <script src="../static/js/flot.time.js"></script>
    <script src="../static/js/logview.js"></script>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="../static/css/logviewer.css">
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap-responsive.min.css">
  </head>

  <body>
    <div class="container">
      <h1>'Speed up yo shit' &mdash; A Dashboard</h1>
      <h2>Instance Summary</h2>

      <dl class="summary">
        <dd>Handling <strong>{{ data.instance_stats.reqs_sec | round(2, 'common') }} requests/second</strong>.</dd>
        <dd>Average rendering time: <strong>{{ data.instance_stats.time_per_request| round(2, 'common') }} seconds</strong>.</dd>
        <dd>Should be able to handle <strong>{{ data.instance_stats.optimal_requests| round(2, 'common') }} requests/sec</strong>.</dd>
        <!-- put a warning color if more than 50%, error color if more than 75% -->
        <dd>Current Capacity: <span class="text-info">{{ data.instance_stats.cc_percentage| round(2, 'common') }}%</span></dd>
      </dl>

      <h3>Slow Pages</h3>
      <!-- ordered by average time to render, longest first -->
      <ol class="url-details-list">
        {% for slow_page in data.slow_pages %}
          <li>
            <dl class="url-details">
              <dt class="url-help">
                <a href="javascript:void(0);">{{ slow_page.url }}</a>&rArr;
                <span class="average">Average rendering time: {{ slow_page.avg_time }} seconds</span><!--Add javascript to add error classes based avg render time-->
              </dt>

              <dd>Overall rendering time: <span class='overall'></span> seconds</dd>
              <dd>Num hits: <span  class='num-hits'></span></dd>
              <dd>If you cached this page as a middle man, you would save <span class='cached-benefit'></span>% of server load</dd>
              <dd>
                <a href= {{ "http://www.engin.umich.edu" + slow_page.url }}>View in new window</a>
              </dd>
              <dd class="url-graph">
                <div class="graph-placeholder">
                </div>
              </dd>
            </dl>
          </li>
        {% endfor %}
      </ol>

      <h3>Server Chokers</h3>
      <!-- ordered by Total Server Time, longest first -->
      <ol>
      {% for server_choker in data.server_chokers %}
          <li>
            <dl class="url-details">
              <dt class="url-help">
                <a href="javascript:void(0);">{{ server_choker.url }}</a>&rArr;
                <span class="total-server-time">Total Server Time: {{ server_choker.total_server_time }} seconds</span><!--Add javascript to add erro classes based avg render time-->
              </dt>
              <dd>Average time to render: <span class='avg'></span> seconds</dd>
              <dd>Num hits: <span class='num-hits'></span></dd>
              <dd>If you cached this page as a middle man, you would save <span class="cached-benefit"></span> of server load</dd>
              <dd>
                <a href={{ "http://www.engin.umich.edu" + server_choker.url }}>View in new window</a>
              </dd>
              <dd class="url-graph">
                <div class="graph-placeholder"></div>
              </dd>
            </dl>
          </li>
        {% endfor %}
      </ol>

      <h3>Memory Hogs</h3>
      <!-- ordered by Memory Used, most first -->
      <ol>
      {% for memory_hog in data.memory_hogs %}
          <li>
            <dl class="url-details">
              <dt class="url-help">
                <a href="javascript:void(0);">{{ memory_hog.url }}</a>&rArr;
                <span class="percent-memory">Percent of Memory Used: {{ memory_hog.memory_used }}%</span><!--Add javascript to add error classes based avg render time-->
              </dt>
              <dd>Total time spent rending this page: <span class='overall'></span> seconds</dd>
              <dd>Average time to render: <span class="avg"></span> seconds</dd>
              <dd>Num hits: <span class='num-hits'></span></dd>
              <dd>If you cached this page as a middle man, you would save <span class='cached-benefit'></span>% of server load</dd>
              <dd>
                <a href={{ "http://www.engin.umich.edu" + memory_hog.url }} >View in new window</a>
              </dd>
              <dd class="url-graph">
                <div class="graph-placeholder"></div>
              </dd>
            </dl>
          </li>
        {% endfor %}
      </ol>
    </div>
  </body>
</html>
